body {
  background: #eee;
}

#draw-space {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  height: 500px;
  margin: 25px 0 0 25px;
}

#control-space {
  display: inline-block;
  vertical-align: top;
  width: 175px;
  height: 500px;
  margin: 25px 0 0 10px;
}


#iso-2d-chart {
  width: 500px;
  height: 500px;
}

#iso-2d-chart-bg {
  width: 500px;
  height: 500px;
  fill: white;
}

.data-point {
  stroke-width: 1px;
  opacity: 0.8;
}

.select-filter {
  display: block;
  margin: 10px 0 0 0;
}

#legend {
  width: 175px;
  height: 150px;
}

#legend-bg {
  width: 175px;
  height: 150px;
  fill: white;
}

.legend-item-label {
  font-size: 12px;
  text-anchor: end;
}

.legend-item-color {
}